@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --primary-color: #222;
    --secondary-color: #585858;
    --accent-color: lightseagreen;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #82a1a7, #3e6b6d);
    color: #fff;

}

header {
    padding: 10px;
    text-align: center;
}

header h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3.5rem;
    color: var(--accent-color);
    filter: brightness(2);
}
.search-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
    gap: 40px;
}
.search-container input[type="text"] {
    width: 50pc;
    height: 70px;
    padding: 10px;
    border: none;
    border-radius: 50px;
    font-size: 2rem;
    background-color: #585858;
    border-radius: 2px solid #616161a1;
    text-align: center;
    color-scheme: dark;
}
.search-container input[type="text"]:focus {
    outline: none;
    border: 2px solid url(#accent-color);
}
.searchbtn{
    padding: 10px 20px;
    font-size: 2rem;
    border: none;
    border-radius: 50px;
    background-color: var(--accent-color);
    color: #fff;
    cursor: pointer;
    position: relative;
    left: -20px;
    transition: background-color 0.3s ease;
}
.searchbtn:hover {
    background-color: #1a7a7a;
    background: linear-gradient(to right, #2b9e9e, #0b9780);
}
.weather-info{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    border: 2px solid #028383da;
    width: 80pc;
    border-radius: 50px;
    height:42pc;
    background-color: #222222ce;
    animation: fadeIn 1s ease-in-out;
    animation-direction: alternate;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    
}
.main-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.cityname{
    font-size: 6rem;
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    background: linear-gradient(to right, lightseagreen , #ffffff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.temprature{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.temprature .value{
    font-size: 8rem;
}
.temprature .unit{
    font-size: 4rem;
}
.weather-type{
    font-size: 5rem;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
.separation{
    margin-top: 60px;
    width: 5px;
    height: 150%;
    background-color: #6161617a;
}
.additional-info {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    margin-top: 100px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    width: 400px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #6161617a;
    transition: transform 0.2s ease-in-out;
    gap: 15px;
}

.card img {
    scale: 1.6;
    margin-right: 2rem;
}
.value {
    font-size: 3.2rem;
    font-weight: bold;
    color: #fff;
}
.card2 .wind-info .direction {
    font-size: 70px;
    font-weight: 600;
    color: #7fb1e2;
    margin-left: 20px;
}
footer {
    text-align: center;
    margin-top: 7px;
    color: #ffffff69;
}